

* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: tahoma,helvetica,sans-serif;
	font-size: 15pt;
	color: #999;
	min-width: 850px;
	background-color: #222;
}

.container{
	height: 100%;
}


/* Common elements */

a {
	text-decoration: none;
	border: none;
	color: #FFF;
	padding: 10px;
}

a:hover{
	text-decoration: underline;
	color: #aaaaaa;
}

.sidebar{
	float: left;
	padding-right:20px;
	height: inherit;
}
nav ul{
	list-style: none;
	border-top: 1px solid #000;
	margin-bottom: 15px;
	background-color: #454545;
}
nav li{
	border-bottom: 1px solid #000;
}
nav a{
	padding: 5px 5px 5px 15px;
	display:block;
	color: #FFF;
}
li a:hover{
	color:#FFF;
	background-color: #202020;
}
#category{
	background-color: #454545;
	padding-right:25px;
	color: #ccc;
}

.searchBar{
	background-color: #000;
    overflow: hidden;
}

.searchBar label{
	color: #ccc;
}

#search form{
	display: inline;
}

footer {
	padding: 10px 0;
	position: relative;
	clear: both;
	text-align: center;
}

p{
	font-family: courier;
}

.content{
	margin-top: 30pt;
	background-color: #303030;
	display: table-row-group;
}

.addBox{
	text-align: center;
	margin-top: 20pt;
}

#addInfo{
	display: inline-block;
}

#addInfo label{
	float: left;
}

#addInfo input, #addInfo select{
	float: right;
}

#button{
	padding: 3px;
}

.preview {
    align-self: auto;
    background-color: #222;
    float: left;
    padding: 1em;
	display: table-row;
}

.preview img, label {
    display: block;
    overflow: inherit;
}

.preview img {
    max-width: 10em;
    width: inherit;
    height: inherit;
    overflow: inherit;
}

#title{
	float: left;
}

#price{
	float: right;
}

.item{
	display: block;
}

.item h1{
	text-align: center;
}

.item img{
	float: left;
}
.item label, .item p{
	text-align: center;
}

